<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= metamagic %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


</head>
<body>

<%= render 'shared/navbar' %>

<div class="container">
  <%= yield %>
</div>
<div class="container">
<%= render 'shared/footer' %>
</div>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>



<meta name="google-site-verification" content="qjg9iIV7iyOppd8GzNaHL6D3YU7-P_vrQyFNAGVX5Zk" />
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

</body>
</html>
